@use "../styles/utils.module";

.bar {
  @apply flex flex-col absolute bottom-20 top-20 text-gray invisible items-center;
}

.rightBar {
  @apply bar xl:right-20 right-10 md:visible;
  & .hover {
    &::before,
    &:hover::before {
      right: calc(100% + 1rem);
      opacity: 1;
    }
  }
}

.leftBar {
  @apply bar xl:left-20 left-10 lg:visible;
  & .hover {
    &::before,
    &:hover::before {
      left: calc(100% + 1rem);
      opacity: 1;
    }
  }
}

.listPseudo {
  position: fixed;
  &::after,
  &::before {
    content: "";
    height: 100%;
    width: 0.1rem;
    @extend %gradient;
    @apply rounded;
  }
  &::after {
    @apply mt-3;
  }
  &::before {
    @apply mb-3;
  }
}

.hover {
  transition: color ease 200ms, filter linear 200ms;
  background: transparent;

  &::before {
    content: attr(name);
    position: absolute;
    opacity: 0;
    transition: right ease 200ms, left ease 200ms, opacity linear 200ms;
    background-clip: text;
    @apply font-black;
  }
  &:hover,
  &:active {
    @apply text-white;
    @extend %drop-shadow;
    &::before {
      opacity: 1;
    }
  }
}

@media (hover: hover) and (min-width: 768px) {
  .leftBar .hover::before {
    left: 100%;
    opacity: 0;
    pointer-events: none;
  }
  .rightBar .hover::before {
    right: 100%;
    opacity: 0;
    pointer-events: none;
  }
}

// @media (min-width: 768px) {
//     .md\:visible {
//         visibility: visible;
//     }
// }
